---
import { Image } from 'astro:assets';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Main from '../components/Main.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION, EXPERIENCE_START_YEAR } from '../consts';

import LogoMarquee from '../components/LogoMarquee.astro';

import imageHeroBackground1 from '../../public/jon-tyson-JCdVuOa6p48-unsplash.jpg';
import imageHeroBackground2 from '../../public/pexels-cottonbro-studio-5081930.jpg';
import imageHeroBackground3 from '../../public/52713318938_c1572c90f9_k.jpg';
import imageHeroBackground4 from '../../public/256051938_915676e537_k.jpg';

import imageProjectsBackground from '../../public/Mr._Beast_Burger_Restaurant_in_American_Dream_Mall_East_Rutherford_New_Jersey.jpg';

const yearsOfExperience = new Date().getFullYear() - EXPERIENCE_START_YEAR;

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<Main>
			<section id="hero" class="width-full">
				<style lang="scss">
					#hero {
						position: relative;
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						text-align: center;
						width: 100%;
						z-index: 1;
						height: 450px;
						overflow: hidden;
						--mask:
						radial-gradient(4.47em at 50% calc(100% - 6.00em),#000 99%,#0000 101%) calc(50% - 4em) 0/8em 100%,
						radial-gradient(4.47em at 50% calc(100% + 4.00em),#0000 99%,#000 101%) 50% calc(100% - 2em)/8em 100% repeat-x;
						-webkit-mask: var(--mask);
						mask: var(--mask);
						margin-top: 0;
						&::before {
							content: '';
							position: absolute;
							inset: 0;
							background-color: hsl(var(--color-secondary));
							opacity: 0.75;
							z-index: -1;
						}

						p {
							margin-top: 4em;
							margin-bottom: 0;
						}

						* {
							color: hsl(var(--color-lighter));
						}

						.background {
							position: absolute;
							inset: 0;
							width: 100%;
							z-index: -2;
							height: 100%;
							object-fit: cover;
							opacity: 0;
						}

						@keyframes slideshow {
							0%, 100% {
								opacity: 1;
								transform: scale(1);
							}
							25%, 75% {
								opacity: 0;
								transform: scale(1.1);
							}
						}

						.background {
							--delay: 0s;
							--duration: 30s;
							--offset: calc(-1 * calc(var(--duration) / 4));
							animation: slideshow var(--duration) ease-in-out infinite;
							animation-delay: var(--delay);
							opacity: 0;
							&:nth-child(1) {
								opacity: 1;
							}
							&:nth-child(2) {
								--delay: var(--offset);
							}
							&:nth-child(3) {
								--delay: calc(var(--offset) * 2);
							}
							&:nth-child(4) {
								--delay: calc(var(--offset) * 3);
							}
						}
					}

					h1,
					h2,
					h3,
					h4,
					h5,
					h6 {
						text-wrap: balance;
					}
				</style>
				<h1>
					Digital Creations
					<br />
					Real Experiences
				</h1>

				<p>See more about Jacob Lodes</p>
				<a href="#brands" class="hover-grow">
					<span class="screen-reader-text">Scroll down</span>
					<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden>
						<mask id="mask0_3_258" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="48" height="48">
						<rect width="48" height="48" fill="currentColor"/>
						</mask>
						<g mask="url(#mask0_3_258)">
						<path d="M23.45 29.15C23.6167 29.3167 23.8 29.4 24 29.4C24.2 29.4 24.3833 29.3167 24.55 29.15L30.05 23.65C30.2833 23.4167 30.3333 23.1417 30.2 22.825C30.0667 22.5083 29.8333 22.35 29.5 22.35H18.45C18.1167 22.35 17.8917 22.5083 17.775 22.825C17.6583 23.1417 17.7167 23.4167 17.95 23.65L23.45 29.15ZM24 44C21.2667 44 18.6833 43.475 16.25 42.425C13.8167 41.375 11.6917 39.9417 9.875 38.125C8.05833 36.3083 6.625 34.1833 5.575 31.75C4.525 29.3167 4 26.7333 4 24C4 21.2333 4.525 18.6333 5.575 16.2C6.625 13.7667 8.05833 11.65 9.875 9.85C11.6917 8.05 13.8167 6.625 16.25 5.575C18.6833 4.525 21.2667 4 24 4C26.7667 4 29.3667 4.525 31.8 5.575C34.2333 6.625 36.35 8.05 38.15 9.85C39.95 11.65 41.375 13.7667 42.425 16.2C43.475 18.6333 44 21.2333 44 24C44 26.7333 43.475 29.3167 42.425 31.75C41.375 34.1833 39.95 36.3083 38.15 38.125C36.35 39.9417 34.2333 41.375 31.8 42.425C29.3667 43.475 26.7667 44 24 44ZM24 41C28.7333 41 32.75 39.3417 36.05 36.025C39.35 32.7083 41 28.7 41 24C41 19.2667 39.35 15.25 36.05 11.95C32.75 8.65 28.7333 7 24 7C19.3 7 15.2917 8.65 11.975 11.95C8.65833 15.25 7 19.2667 7 24C7 28.7 8.65833 32.7083 11.975 36.025C15.2917 39.3417 19.3 41 24 41Z" fill="#FF686B"/>
						</g>
					</svg>
				</a>

				<div>
					<Image
						src={imageHeroBackground1}
						alt='A Planet Hollywood Sign'
						widths={[240, 540, 720, 1080, 1920]}
						loading="eager"
						class="background"
						/>
					<Image
						src={imageHeroBackground2}
						alt='Hands holding a phone displaying the TikTok app'
						widths={[240, 540, 720, 1080, 1920]}
						loading="lazy"
						class="background"
					/>
					<Image
						src={imageHeroBackground3}
						alt='The interior of MrBeast Burger in the American Dream Mall'
						widths={[240, 540, 720, 1080, 1920]}
						loading="lazy"
						class="background"
					/>
					<Image
						src={imageHeroBackground4}
						alt="The exterior of a Bertucci's"
						widths={[240, 540, 720, 1080, 1920]}
						loading="eager"
						class="background"
						/>
				</div>
			</section>
			
			<section id="brands" class="width-full">
				<style lang="scss">
					#brands {
						position: relative;
						display: block;
						overflow: auto;
						img {
							display: block;
							margin: 0 auto;
						}
						h2 {
							text-align: center;
						}
					}
				</style>
				<img src="/ancient-shellfish.svg" alt="The shell of an ancient shellfish" height="48" width="48">
				<h2>Brands I've Worked On</h2>
				<br/>
				<LogoMarquee />
			</section>

			<section id="about">
				<style lang="scss">
					#about {
						img {
							display: block;
							margin: 0 auto;
						}
						h2 {
							text-align: center;
						}
					}
				</style>
				<img src="/triceratops.svg" alt="Triceratops" height="48" width="48">
				<h2>Who is Jacob Lodes?</h2>
				<p>Jacob Lodes, a seasoned full-stack developer, currently spearheads all development initiatives at <a href="https://www.earlenterprise.com" target="_blank" title="Earl Enterprises (Opens in a new tab)" aria-label="Earl Enterprises (Opens in a new tab)">Earl Enterprises</a> and <a href="https://joinvdc.com/" target="_blank" title="Virtual Dining Concepts (Opens in a new tab)" aria-label="Virtual Dining Concepts (Opens in a new tab)">Virtual Dining Concepts</a>. These companies are the driving force behind renowned food entertainment brands like MrBeast Burger, Planet Hollywood, Buca di Beppo, Chicken Guy!, NASCAR Refuel, and Barstool Sports' Pardon My Cheesesteak.</p>
					<p>With a focus on PHP and JavaScript, Jacob Lodes stands out for his proficiency in developing cutting-edge WordPress plugins and themes. Beyond his core expertise, he's delved into crafting Discord Bots and Chrome Plugins. Armed with {yearsOfExperience} years of professional experience and a Bachelor's degree in Digital Media: Web Design from the University of Central Florida, Jacob showcases a versatile skill set and a passion for pushing boundaries in his field.</p>
			</section>

			<section id="open-to-projects" class="width-full">
				<style lang="scss">
					#open-to-projects {
						position: relative;
						text-align: center;
						position: relative;
						z-index: 1;

						&::before {
							content: '';
							position: absolute;
							inset: 0;
							background-color: hsl(var(--color-primary));
							opacity: 0.85;
							z-index: -1;
						}

						* {
							color: hsl(var(--color-lighter));
						}

						a:hover {
							color: hsl(var(--color-primary));
						}

						.background {
							position: absolute;
							inset: 0;
							width: 100%;
							z-index: -2;
							height: 100%;
							object-fit: cover;
						}
					}
				</style>
				<img src="/plesiosaurus.svg" alt="Plesiosaurus" height="48" width="48">
				<h2>Open to Projects</h2>
				<p><a class="animate-float" href="mailto:contact@jlodes.com">Email me</a>, or reach out on <a class="animate-float" href="https://www.linkedin.com/in/jacoblodes/" aria-label="LinkedIn (Opens in a new tab)" target="_blank">LinkedIn</a></p>
				<p>Visit my <a href="/blog/">Blog</a> to view some of my past projects</p>

				<Image
                    src={imageProjectsBackground}
                    alt='Mr. Beast Burger Restaurant in American Dream Mall East Rutherford New Jersey'
					widths={[240, 540, 720, 1080, 1920]}
                    loading="eager"
					class="background"
                />
			</section>
	
		</Main>
		<Footer />
	</body>
</html>

<style is:global>
	footer.footer {
		margin-top: 0;
	}
</style>